snippet \[ "Open up a new math environment" bA
\[
	$0
\]
endsnippet

snippet \frac "Create a new fraction" A
\frac{$1}{$2}
endsnippet


snippet \table "Create a new table" bA
\begin{tabular}{$1}
	$2
\end{tabular}
endsnippet

snippet \figure "Create a new figure" bA
\begin{figure}[h]
	\centering
	\includegraphics[width=0.75\linewidth]{$1}
	\caption{$2}
\end{figure}
endsnippet

snippet \equation "Create a new equation" bA
\begin{equation}
	$1
\end{equation}
endsnippet

snippet \section "Create a new section" bA
\section{$1}
endsnippet

snippet \subsection "Create a new subsection" bA
\subsection{$1}
endsnippet

snippet \subsubsection "Create a new subsubsection" bA
\subsubsection{$1}
endsnippet

snippet \eqnarray "Create a new equation array" bA
\begin{eqnarray}
	$1
\end{eqnarray}
endsnippet

snippet \align "Create a new align" bA
\begin{align*}
	$1
\end{align*}
endsnippet

snippet verbatim "Create a new verbatim environment"
\begin{verbatim}
	$1
\end{verbatim}
endsnippet

snippet lstlisting "Create a new lstlisting environment"
\begin{lstlisting}
	$1
\end{lstlisting}
endsnippet
